/*placeholder for style.css */

body{

background-color: blanchedalmond;
margin: 0; 

}

header{

display: flex; 
align-items: center;
justify-content: space-around;
background-color: #FFAA45; /* placeholder colors until more foundations are in place */
/*font-family: monospace ; */

}

.link{

text-decoration: none;
color:black; 

}

.link:hover{

    color:rgb(85, 83, 83); 
}

#firstContent{

    padding-left: 30px;

}

#loginBtn{

    background-color: #FFAA45;
    color: black; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
    border-radius: 12px;
    font-size: 11pt;
    font-family: serif;

}

#loginBtn:hover{

    background-color: #f59724;

}

#loginPopup{

    background-color: #f59724;

}

.popupContent{

    font-size: large;

}

.closeBtn{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}