/*placeholder for style.css */

body{

background-color: blanchedalmond;
margin: 0; 

}

header{

display: flex; 
align-items: center;
justify-content: space-around;
background-color: #FFAA45; /* placeholder colors until more foundations are in place */
/*font-family: monospace ; */

}

.link{

text-decoration: none;
color:black; 

}

.link:hover{

    color:rgb(85, 83, 83); 
}

#firstContent{

    padding-left: 20px; 

}

#loginPopup{

    background-color: #FFAA45;
    color: black; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
    border-radius: 12px;

}

.popupContent{

    font-size: small;

}

.closeBtn{

    font-size: small;

}

.navTabs{

    display: flex; 
    gap: 15px; 

}

.dropdown{

    position: relative; 
    display: inline-block; 

}

.dropdown a{

    display: block;
    
}

.dropdownContent{

    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;

}

.dropdownContent a{

    display: block; 
    padding: 10px; 
    text-decoration: none;
    color: black; 

}

.dropdownContent a:hover{

    background-color: #f59724;
}

.dropdown:hover .dropdownContent{

    display:block; 

}